<div class="header">
  <div class="header-content container">
    <mat-toolbar class="toolbar container">
      <div class="toolbar-title">UW-ACS</div>
      <div class="nav-links-list">
        <div class="link">Home</div>
        <div class="link">Join</div>
        <div class="link">Calendar</div>
        <div class="link">About</div>
      </div>
    </mat-toolbar>
    <div>
      <h1>Association of Caribbean Students</h1>
      <h2>Welcome to the Caribbean</h2>
    </div>
    <div>Social Links</div>
  </div>
</div>
